<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assistant.adapter.thermal">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_extension"
        android:label="Splendor Thermal Adapter"
        android:hardwareAccelerated="true">
        
        <service
            android:name=".ThermalAdapterService"
            android:exported="true"
            android:process=":kernel_thermal"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                      android:value="Monitors device thermal state and throttling conditions."/>
        </service>
    </application>
</manifest>
