local.properties
android-sdk/
*.apk
android-sdk/
ijkff7/
jdk17/
*.tar.gz
jdk17/
jdk17.tar.gz
.jdk17/
jdk17.tar.gz

# Gradle
.gradle/

# Android build outputs
build/
**/build/

elf-verify/

.backups/
.probe_native_shim_v*/
.verify_native_link_shim_v*/
.verify_v14a_final/
.trace_v13_collector_frame_camera_native/
.trace_v18b_collect_caller/
.trace_v19b_collect_caller_chain/
.extract_native_vision_wiring_v10/
.audit_native_live_migration_v1/
patch_*.py
fix_native_v*.sh
verify_v14a_native_symbol.sh
.verify_v23a_native/
.verify_v14a_native_symbol/
.trace_v*/
.extract_*/
.audit_*/
build_*.sh
verify_*.sh
trace_*.sh
.termux-tmp/
.verify_v27a_closure/
.verify_v25a_native/
.verify_v24c_native/
.verify_v23b_fix_native/
.v27a_closure_ok
copy_*.sh
push_*.sh
audit_*.py
extract_*.py
