<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assistant.adapter.battery">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true">
        
        <service
            android:name=".BatteryAdapterService"
            android:exported="true"
            android:process=":kernel_battery"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                      android:value="Monitors battery state and power conditions."/>
        </service>
    </application>
</manifest>
